#container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

#sidebar{
    width: 100px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 15px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    color: #4361ee;
}

.nav_list{
    margin: 15px;
}

.nav_item{
    margin: 15px 0;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.active_nav_item > .nav_icon{
    color: #4b81ff;
}

.nav_item:hover{
    background-color: #f6f6f6;
}

.nav_item:hover > .nav_icon{
    color: #4b81ff;
}

.nav_icon{
    color: #444444;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

.nav_acc{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}

#content{
    overflow-y: scroll;
    padding: 15px 20px;
    flex: 1;
}

