.table_container{
    border-radius: 10px;
    overflow: hidden;   
    border:  1px solid #eee;
}

.table{
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.table_head{
    background: #eee;
}

.table_head_col{
    margin: 0;
    padding: 20px;
    text-align: left;
    border:  1px solid #eee;
}

.table_row{
    border-bottom:  1px solid #eee;
}

.table_data{
    padding: 10px 20px;
}

.table_controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.control_btn{
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background: #f6f6f6;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.control_btn:hover{
    background: #f0f0f0;
}

.instrument{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.instrument_logo{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.instrument_name{
    margin-left: 10px;
    font-weight: 500;
}

.label{
    padding: 5px 15px;
    width: fit-content;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #FFF;
}